<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685889183074-bv0h3athjjuh6rqaacha78cb3gvg6b9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685889183074-bv0h3athjjuh6rqaacha78cb3gvg6b9t</string>
	<key>API_KEY</key>
	<string>AIzaSyB8xFAFccyKziazle32UmT5BrYRQJQjU_I</string>
	<key>GCM_SENDER_ID</key>
	<string>685889183074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juniorisep</string>
	<key>PROJECT_ID</key>
	<string>junior-isep</string>
	<key>STORAGE_BUCKET</key>
	<string>junior-isep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685889183074:ios:21cef5d057b98121aa203b</string>
	<key>DATABASE_URL</key>
	<string>https://junior-isep.firebaseio.com</string>
</dict>
</plist>